<% include header.html %>
<% include nav.html %>
<div class="container">
	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>This is my first station</p>
		<a href="/upload" style="color: #002a80;font-weight: bold;">Upload</a>
		<!--<p><a class="btn btn-primary btn-lg" role="button">
			more</a>
		</p>-->
		<img src="images/main_big.jpg" width="100%"/>
	</div>
	<div class="row" id="moreProducts">
		<div class="col-md-12">
			<h3>了解更多的网站信息</h3>
			<div class="thumbnails row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/people01.jpg" width="100%"/>
						<!--<div class="label label-success price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>88</span></div>-->
						<div class="caption">
							<h3>人物人物人物</h3>
							<p>
								人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物
								人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物
								人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物人物
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">人物</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/city01.jpg" width="100%"/>
						<!--<div class="label label-info price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>66</span></div>-->
						<div class="caption">
							<h3>城市建筑城市建筑</h3>
							<p>
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">建筑</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/sports01.jpg" width="100%"/>
						<!--<div class="label label-info price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>66</span></div>-->
						<div class="caption">
							<h3>城市建筑城市建筑</h3>
							<p>
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">建筑</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/people01.jpg" width="100%"/>
						<!--<div class="label label-info price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>66</span></div>-->
						<div class="caption">
							<h3>城市建筑城市建筑</h3>
							<p>
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">建筑</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/city01.jpg" width="100%"/>
						<!--<div class="label label-info price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>66</span></div>-->
						<div class="caption">
							<h3>城市建筑城市建筑</h3>
							<p>
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">建筑</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="images/city01.jpg" width="100%"/>
						<!--<div class="label label-info price"><span class="glyphicon glyphicon-tag"><sup>￥</sup>66</span></div>-->
						<div class="caption">
							<h3>城市建筑城市建筑</h3>
							<p>
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
								城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑城市建筑
							</p>
							<p>
								<a href="#" class="btn btn-primary btn-small" target="_blank">建筑</a>
								&nbsp;
								<a href="#" class="btn btn-small btn-link">了解更多</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include footer.html %>
